*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

.container{
    background-color: cadetblue;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 42px 25px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    
}

input{
    padding: 6px 5px;
    border-radius: 5px;
    text-align:right;
    border: none;
    width: 70%;
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px gray;
    outline: none;

}

.input >button{
    padding:6px 8px ;
    border-radius: 5px;
    border: none;


}

.input>button:hover{
    background-color: rgb(227, 220, 220);
    box-shadow: 1px 1px 5px 1px gray;
}

.input{
    display: flex;
    gap: 10px;
}

.functionbuttons{
    display: flex;
    justify-content: space-around;
    width: 80%;
    
}
.functionbuttons > button{
    padding: 2px 8px;
}

